body {
  background-color: cornflowerblue;
}

.bar{
  background-color: black;
  width:25px;
  border: 1px solid cornflowerblue;
}

#bars{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin: auto;
  align-items: flex-end;
}

select {
  background-color: cornflowerblue;
}

#bubble, #insertion, #merge, #quicksort, #selection {
  display: none;
}