body {
  background-color: rgb(235, 235, 235);
}

.bar {
  background-color: black;
  width: 25px;
  border: 1px solid lightgray;
  border-radius: 5px 5px 5px 5px;}

.jumbotron{
  border-radius: 6px ;
}

.display-4{
  text-align: center;
}

#bars {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin: auto;
  align-items: flex-end;
  padding-top: 5%;
}

select {
  background-color: lightgray;
  border-radius: 5px;
}

.form-group {
  padding-left: 2.5em;
  padding-right: 2.5em;
  display:flex;
  justify-content:space-between;
}

#bubble,
#insertion,
#merge,
#quicksort,
#selection {
  display: none;
}

.card {
  padding: 5%;
}
